html{
    scrollbar-width: none;
}

body {
  margin: 0;
  padding: 0;
  margin-top: 100px;
  font-family: "Kode Mono", monospace;
  font-optical-sizing: auto;
  background-color: black;
  color: rgb(244, 244, 244);
}

/* main section */
.whole {
  min-width: 400px;
  max-width: 700px;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 2px 2px 4px rgba(229, 221, 221, 0.8);
}

/* title */
.titleSection {
  text-align: center;
}

.titleSection>h1 {
  font-size: 50px;
  text-shadow: 2px 2px 4px rgba(229, 221, 221, 0.8);
}

/* searchbar */
.searchBar {
  width: 97%;
  height: 40px;
  padding: 1%;
  border-radius: 8px;
  font-size: 25px;
  font-family: "Kode Mono", monospace;
  font-optical-sizing: auto;
}

/* search result */
.searchResultSection {
  margin: 1%;
  width: 97%;
}

ul {
  list-style-type: none;
}

li {
  margin-top: 10px;
  margin-left: 0;
  width: 80%;
  border-radius: 8px;
  padding-left: 1%;
}

.list-item:hover {
  cursor: pointer;
  color: black;
  background-color: rgb(255, 255, 255);
}

/* city details */
.cityDetails {
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  margin: 1%;
  max-width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: black;
  font-weight: bold;
}

.cityDetails>div>h1 {
  color: #333;
  font-size: 24px;
}

.cityDetails>p {
  color: #555;
  margin: 10px 0;
}

.cel {
  color: red;
  font-size: 20px;
}

.fah {
  color: blue;
  font-size: 20px;
}


/* rain effect */
:root {
  --thunder-duration: 10s;
  --thunder-delay: 5s;
}

hr.thunder {
  border: unset;
  position: absolute;
  width: 100vw;
  height: 100vh;
  animation-name: thunder;
  animation-duration: var(--thunder-duration);
  animation-timing-function: linear;
  animation-delay: var(--thunder-delay);
  animation-iteration-count: infinite;
}

hr:not(.thunder) {
  width: 50px;
  border-color: transparent;
  border-right-color: rgba(255, 255, 255, 0.7);
  border-right-width: 50px;
  position: absolute;
  bottom: 100%;
  transform-origin: 100% 50%;
  animation-name: rain;
  animation-duration: 400s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes rain {
  from {
    transform: rotate(105deg) translateX(0);
  }

  to {
    transform: rotate(105deg) translateX(calc(300vw + 20px));
  }

}

/* thunder effect */
/* @keyframes thunder {
  0% {
    background-color: transparent;
  }
  1% {
    background-color: white;
  }
  2% {
    background-color: rgba(255, 255, 255, 0.8);
  }
  8% {
    background-color: transparent;
  }
} */


@media screen and (max-width: 800px) {
  body {
    margin: 20px;
  }

  .whole {
    min-width: 200px;
    padding: 5px;
    margin: auto;
  }

  /* Title */
  .titleSection>h1 {
    font-size: 30px;
  }

  /* search bar */
  .searchBar {
    height: 30px;
    font-size: 20px;
  }

  /* search result */
  .searchResultSection {
    font-size: 90%;
  }

  li {
    margin-top: 2px;
  }

  /* cityDetails */
  .cityDetails {
    font-size: 90%;
    max-height: 90%;
  }
}