
.container {
  max-width: 1080px;
  margin: 20px auto;
}

.header {
  font-size: 30px;
  background-color: aqua;
  text-align: center;
  max-width: 100%;
}

.searchbar {
  border: solid 3px black;
  box-sizing: border-box;
  font-size: 2em;
  height: 2em;
  outline: solid #fc0 0;
  padding: .5em;
  width: 100%;
  z-index: 1;
}

.searchresult {
  width: 49.5%;
  float: left;
  border: 1px solid red;
  background-color: beige;
}

.individualresult {
  width: 50%;
  border: 1px solid green;
  float: left;
  background-color: beige;
}

body{
  background-image: url("https://images6.alphacoders.com/456/thumb-1920-456528.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}