*{
  background-color: beige;
}

.Container{
  max-width: 500px;
  margin: 30px auto;
  overflow: auto;
  min-height: 300px;
  border: 20px solid steelblue;
  padding: 30px;
  border-radius: 5px;
}

.searchLabel{
  border: 2px solid black;
  font-size: 13px;
  background-color: black;
  color: white;
}

.SearchBar{
  width: 230px;
}